    <hgroup>
        <h1>WebUI Training</h1>
        <h2>This is my try</h2>
    </hgroup>
    
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="index.html">Home</a></li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Objects <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="auriculares.html">Auriculares</a></li>
                    <li><a href="cuadernola.html">Cuadernola</a></li>
                    <li><a href="mate.html">Mate</a></li>
                </ul>
            </li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="agenda.html">Agenda</a></li>  
            </ul>
            <audio src=""></audio>
      </div>
    </div>
  </nav>