    <link rel="stylesheet" href="assets/stylesheets/main.css">
    <!-- Bootstrap -->
    <link href="assets/bootstrap-3.1.1-dist/css/bootstrap.min.css" rel="stylesheet">

    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="assets/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>

    <link href="assets/bootstrap-3.1.1-dist/css/extensions/sticky-footer-navbar.css" rel="stylesheet">
    <link href="assets/bootstrap-3.1.1-dist/css/extensions/justified-nav.css" rel="stylesheet">